.v-application .red {
    background-color: #e51937 !important;
    border-color: #F44336 !important;
}

.v-application .deep-purple.accent-4 {
    background-color: #e51937 !important;
    border-color: #e51937 !important;
}
